In [2]:
# data preprocessing library
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

# labelling library
import re

In [3]:
filepath = '../../data/raw/mobile_nos.csv'

In [4]:
mobiledata = pd.read_csv(filepath)

In [5]:
mobiledata

,label_no,name,biller_category_id
0,08059224942,Top up ...,25
1,08142358593,MTN Top up ...,25
2,08142358593,MTN Top up ...,25
3,08148252331,MTN Top up ...,25
4,08142358593,MTN Top up ...,25
...,...,...,...
23602,08034268185,MTN VTU 100 ...,25
23603,08064995656,MTN VTU 100 ...,25
23604,08058595159,GLO 500 ...,25
23605,07039069136,MTN VTU 100 ...,25
23606,09078754424,Top up with 100 ...,25

In [6]:
# mobiledata.rename(columns={'label_no      ': 'label_no', 'name                                                                           ': 'name'}, inplace=True)

In [7]:
mobiledata.columns

Index(['label_no', 'name', 'biller_category_id'], dtype='object')

In [8]:
mobiledata.name.nunique()

150

In [9]:
# Define a function to check and update service providers based on phone number patterns
def mtn_phone_number_label(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0702', '0703', '0706', '0803', '0806', '0704', '0810', '0813', '0814', '0816', '0903', '0906', '0913', '0916')):
        return 'MTN'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(mtn_phone_number_label, axis=1)

In [10]:
mobiledata.name.nunique()

118

In [11]:
# Define a function to check and update service providers based on phone number patterns
def glo_phone_number_label(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0705', '0801', '0805', '0807', '0814', '0811', '0815', '0905', '0915')):
        return 'GLO'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(glo_phone_number_label, axis=1)

In [12]:
mobiledata.name.nunique()

95

In [13]:
# Define a function to check and update service providers based on phone number patterns
def airtel_phone_number_label_2(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0808', '0907')):
        return 'AIRTEL'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(airtel_phone_number_label_2, axis=1)

In [14]:
mobiledata.name.nunique()

90

In [15]:
# Define a function to check and update service providers based on phone number patterns
def airtel_phone_number_label(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0701', '0708', '0802', '0808', '0812', '0901', '0902', '0904', '0907', '0911','0912')):
        return 'AIRTEL'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(airtel_phone_number_label, axis=1)

In [16]:
mobiledata.name.nunique()

73

In [17]:
# Define a function to check and update service providers based on phone number patterns
def ninemobile_phone_number_label(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0809','0817', '0818', '0908', '0909')):
        return '9MOBILE'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(ninemobile_phone_number_label, axis=1)

In [18]:
# Define a function to correct the third character of phone numbers
def correct_third_character(phone_number):
    if len(phone_number) == 11 and phone_number[2] == '8':
        corrected_number = phone_number[:2] + '0' + phone_number[3:]
        return corrected_number
    return phone_number

# Apply the function to the 'PhoneNumber' column
mobiledata['label_no'] = mobiledata['label_no'].apply(correct_third_character)

In [19]:
# Define a function to correct phone numbers
def correct_phone_number(phone_number):
    if phone_number.startswith('7') and len(phone_number) == 10:
        return '0' + phone_number
    elif phone_number.startswith('9') and len(phone_number) == 10:
        return '0' + phone_number
    return phone_number

# Apply the function to the 'PhoneNumber' column
mobiledata['label_no'] = mobiledata['label_no'].apply(correct_phone_number)

In [20]:
# Define a function to check and update service providers based on phone number patterns
def glo_phone_number_label(row):
    phone_number = str(row['label_no'])
    if phone_number.startswith(('0705', '0805', '0807', '0814', '0811', '0815', '0905', '0915')):
        return 'GLO'
    return row['name']

# Apply the mtn_phone_number_label function to the DataFrame
mobiledata['name'] = mobiledata.apply(glo_phone_number_label, axis=1)

In [21]:
# Define a function to filter phone numbers
def filter_phone_numbers(phone_number):
    return (len(phone_number) == 11) and (not phone_number.startswith('+'))

# Apply the function to filter the DataFrame
mobiledata = mobiledata[mobiledata['label_no'].apply(filter_phone_numbers)]

In [22]:
# Define a function to filter rows
def filter_phone_numbers(row):
    phone_number = row['label_no']
    return all(char.isdigit() or char.isspace() or char in (',', '.', '-', '+') for char in phone_number)

# Apply the filter to the DataFrame
mobiledata = mobiledata[mobiledata.apply(filter_phone_numbers, axis=1)]

In [23]:
# mobiledata = mobiledata.drop(13305)

In [24]:
# Filter and keep rows where 'PhoneNumber' starts with '0'
mobiledata = mobiledata[mobiledata['label_no'].str.startswith('0')]

# Reset the index to have continuous integer values
mobiledata = mobiledata.reset_index(drop=True)

In [25]:
none_number = mobiledata[mobiledata['label_no'].str[:2] == '00']
none_number

Empty DataFrame
Columns: [label_no, name, biller_category_id]
Index: []

In [26]:
row_to_remove = [7929, 19075]
mobiledata = mobiledata.drop(row_to_remove)

KeyError: '[7929, 19075] not found in axis'

In [ ]:
mobiledata[mobiledata['name'] == 'MTN Top up']

Empty DataFrame
Columns: [label_no, name, biller_category_id]
Index: []

In [ ]:
rare_number = mobiledata[mobiledata['label_no'].str[:4] == '0709']
rare_number

Empty DataFrame
Columns: [label_no, name, biller_category_id]
Index: []

In [ ]:
mobiledata = mobiledata.drop(13305)

In [ ]:
mobiledata.name.unique()

array(['GLO', 'MTN', 'AIRTEL', '9MOBILE', 'GOtv Jolli Bouquet',
       '1GB Weekly Plan + FREE 1GB for YouTube and 100MB for YouTube Music + 5mins.',
       'Nova - One Month', 'Classic - One Day', 'Prepaid',
       'GOtv Jinja Bouquet', 'Compact', 'Specify Amount', 'Top up',
       'GOtv Smallie - quarterly', 'GOtv Max', '9Mobile Top up',
       'GOtv Smallie - monthly', 'Ikeja Electric Prepaid',
       '1GB Daily Plan + 3mins.', 'Basic - One Week', 'Meter Token',
       'Top up with any amount', 'N1500= 4.1 GB 30 Days',
       'Diamond (550GB FUP Monthly Unlimited) (N60000)',
       'N2,100 for calls, SMS &amp; data (7 days)'], dtype=object)

In [ ]:
# removing inconsistent criteria
irrelevant_labels = ['GOtv Jolli Bouquet',
       '1GB Weekly Plan + FREE 1GB for YouTube and 100MB for YouTube Music + 5mins.',
       'Nova - One Month', 'Classic - One Day', 'Prepaid',
       'GOtv Jinja Bouquet', 'Compact', 'Specify Amount', 'Top up',
       'GOtv Smallie - quarterly', 'GOtv Max', '9Mobile Top up',
       'GOtv Smallie - monthly', 'Ikeja Electric Prepaid',
       '1GB Daily Plan + 3mins.', 'Basic - One Week', 'Meter Token',
       'Top up with any amount', 'N1500= 4.1 GB 30 Days',
       'Diamond (550GB FUP Monthly Unlimited) (N60000)',
       'N2,100 for calls, SMS &amp; data (7 days)']

# filter and keep rows with consistent name labels
mobiledata = mobiledata[~mobiledata['name'].isin(irrelevant_labels)]
# resetting the index
mobiledata = mobiledata.reset_index(drop=True)

In [ ]:
mobiledata = mobiledata.drop('biller_category_id', axis=1)

In [ ]:
mobiledata

          label_no    name
0      08059224942     GLO
1      08142358593     MTN
2      08142358593     MTN
3      08148252331     MTN
4      08142358593     MTN
...            ...     ...
23149  08034268185     MTN
23150  08064995656     MTN
23151  08058595159     GLO
23152  07039069136     MTN
23153  09078754424  AIRTEL

[23154 rows x 2 columns]

In [ ]:
mobiledata = mobiledata.rename(columns={'label_no': 'Telephone Number', 'name': 'Service Provider'})

In [ ]:
mobiledata

      Telephone Number Service Provider
0          08059224942              GLO
1          08142358593              MTN
2          08142358593              MTN
3          08148252331              MTN
4          08142358593              MTN
...                ...              ...
23149      08034268185              MTN
23150      08064995656              MTN
23151      08058595159              GLO
23152      07039069136              MTN
23153      09078754424           AIRTEL

[23154 rows x 2 columns]

In [ ]:
mobiledata.to_csv('service_provider_pnumber_label.csv', index=True)

In [ ]:
|